{% extends 'base.html' %}

{% block title %}WHITE LEAF{% endblock %}

<!-- body -->
{% block contents %}
    <h4 class="ml-2 mt-2">【{{ tag_name }}】記事一覧</h4>
        {% for article in article_list %}
            <div class="card m-2">
                <div class="card-body" >
                    <div class="clearfix">
                        <div class="float-right">
                            {% for tag in article.tags.all %}
                                <a class="tag" href="{% url 'myblog:ArticleByTagIndex' tag.id %}">
                                    <i class="fas fa-tag"></i>
                                    {{ tag.name }}
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                    <a href="{% url 'myblog:Detail' article.id %}">
                        <h5 class="card-title">
                            <i class="far fa-newspaper"></i>
                            {{ article.title }}
                        </h5>
                    </a>
                    <p class="card-text text-right">
                        <i class="far fa-clock"></i>
                        {{ article.created_at }}
                        &nbsp;
                        <i class="far fa-eye"></i>
                        {{ article.views }}
                    </p>
                </div>
            </div>

        {% empty %}
            <p>ブログがありません…</p>
        {% endfor %}

{% endblock %}

<!-- サイドバー -->
{% block sidebar %}
    <div>
        運営者<br>
        <div class="user-icon">
            <img class="rounded-circle" src="../../../static/icon/shiroha_icon.png" />
            <div style="text-align: center">あるすちか</div>
        </div>
        情報系の理系大学で主に統計学を学ぶ。<br>
        卒業後はSI企業に就職しSalesforceの導入支援にて主に開発を担当した。<br>
        その後転職し、Ruby on Rails、Vue.jsを使用したWebアプリケーションの改修を行なっている。<br>
        <br>
        <div class="user-icon">
            <img class="rounded-circle" src="../../../static/icon/osechitan_icon.png" />
            <div style="text-align: center">おせちたん</div>
        </div>
        Salesforceの導入支援にて主に開発を担当した。<br>
        現在転職活動中...<br>
    </div>
{% endblock %}