{% extends "base.html" %}

{% block title %}{{ object.title }} | WHITE LEAF{% endblock %}

{% block head %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/styles/a11y-dark.min.css">
{% endblock %}

{% block contents %}

    <article class="article">
        <h1>{{ object.title }}</h1>
        <div class="clearfix mb-2">
            <div class="float-right">
                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Twetterで共有</a>
            </div>
        </div>
        {{ object.formatted_markdown|safe }}
        <div class="article-updated">
            {{ object.updated_ad }}
        </div>
        <div class="article-index-link">
            <a href="{% url 'myblog:Index' %}">トップページに戻る</a>
        </div>
    </article>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
{% endblock %}

{% block sidebar %}
    サイドバーだよ！
{% endblock %}