{% extends "base.html" %}

{% block title %}{{ object.title }} | WHITE LEAF{% endblock %}

{% block head %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/styles/a11y-dark.min.css">
{% endblock %}

{% block contents %}

    <article class="article">
        <h1>{{ object.title }}</h1>
        <div class="clearfix mb-2">
            <div class="float-right">
                {% for tag in object.tags.all %}
                    <a class="tag" href="#">{{ tag.name }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="clearfix mb-2">
            <div class="float-right">
                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Twetterで共有</a>
            </div>
        </div>
        {{ object.formatted_markdown|safe }}
        <div class="clearfix mb-2">
            閲覧数:{{ object.views }}
        </div>
        <div class="article-updated">
            {{ object.updated_ad }}
        </div>
        <div class="article-index-link">
            <a href="{% url 'myblog:Index' %}">トップページに戻る</a>
        </div>
    </article>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
{% endblock %}

{% block sidebar %}
    {% if object.user == null %}
        この記事を書いている人の情報がないよ！＞＜
    {% else %}
        この記事を書いてる人<br>
        <div class="user-icon">
            <img class="rounded-circle" src="../../../static/icon/{{ object.user.username }}_icon.jpg" />
            <div style="text-align: center">{{ object.user.username }}</div>
        </div>
        {% if object.user.username == 'shiroha' %}
            情報系の理系大学で主に統計学を学ぶ。<br>
            卒業後はSI企業に就職しSalesforceの導入支援にて主に開発を担当した。<br>
            その後転職し、Ruby on Rails、Vue.jsを使用したWebアプリケーションの改修を行なっている。<br>
        {% elif object.user.username == 'osechitan' %}
            Salesforceの導入支援にて主に開発を担当した。<br>
            現在転職活動中...<br>
        {% endif %}
    {% endif %}
{% endblock %}