{% extends 'base.html' %}

{% block title %}WHITE LEAF{% endblock %}

<!-- body --> 
{% block contents %}
    <h4 class="ml-2 mt-2">記事一覧</h4>
        {% for article in article_list %}

            <div class="card m-2">
                <div class="card-body" >
                    <div class="clearfix">
                        <div class="float-right">
                            {% for tag in article.tags.all %}
                                <a class="tag" href="{% url 'myblog:ArticleByTagIndex' tag.id %}">
                                    <i class="fas fa-tag"></i>
                                    {{ tag.name }}
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                    <a href="{% url 'myblog:Detail' article.id %}">
                        <h5 class="card-title">
                            <i class="far fa-newspaper"></i>
                            {{ article.title }}
                        </h5>
                    </a>
                    <p class="card-text text-right">
                        <i class="far fa-clock"></i>
                        {{ article.created_at }}
                        &nbsp;
                        <i class="far fa-eye"></i>
                        {{ article.views }}
                    </p>
                </div>
            </div>

        {% empty %}
            <p>ブログがありません…</p>
        {% endfor %}

{% endblock %}

<!-- サイドバー --> 
{% block sidebar %}
    <div>
        運営者<br />
        {% for user in user_list %}
            <div class="user-icon">
                <img class="rounded-circle" src="../../../static/icon/{{ user.username }}_icon.png" />
                <div style="text-align: center">{{ user.last_name }}</div>
            </div>
            {{ user.introduction|linebreaksbr }}
            {% if forloop.counter == 1 %}
                <br />
                <br />
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}