body {
    background: #f2f2f2 !important;
    color: #6C675B !important;
    font-family: "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO" !important;
    word-break: break-all; /* 文字の折り返し */
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}

/* colでpaddingが15pxにセットされているので初期化する */
.fix-gutters > [class^="col-"],
.fix-gutters > [class*=" col-"] {
     padding-right: 0px;
     padding-left: 0px;
}

.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

/* aタグの強制文字色変更を阻止 */
a {
    color: #6C675B !important;
}

.white-leaf-nav {
    background: white !important;
    text-shadow: 1px 1px 1px gray;
    color: black;
    box-shadow: 0 1px 1px 0 whitesmoke;
}

.white-leaf-content {
    margin: 15px;
    height: 100%-15px;
    background-color: white;
}

.white-leaf-sidebar {
    margin: 15px;
    height: 400px;
    background-color: white;
    padding: 15px 15px;
}

.article {
    padding: 15px 15px;
}

.article-updated {
    text-align: right;
}

.article-index-link {
    text-align: center;
}

.toc {
    border: double;
    border-radius: 4px;
    border-color: #95a56b;
    margin-bottom: 1rem;
}

.toc ul {
    list-style: none;
    padding-left: 20px;
    margin-bottom: 0px;
}

.tag {
    position: relative;
	display: inline-block;
	margin: 0 0 0 .8em;
	padding: .6em .6em .6em 0;
	line-height: 1;
	color: #fff !important;
	text-decoration: none;
    background-color: #333333;
    font-size: xx-small;
}

.tag:before {
	position: absolute;
	top: 0;
	left: -1em;
	content: '';
	border-width: 1.1em 1em 1.1em 0;
	border-style: solid;
	border-color: transparent #333333 transparent transparent;
}
.tag:after {
	position: absolute;
	top: center;
	left: 0;
	color: #fff;
}