{% load static %}

<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/myhpstyle.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="icon" type="image/png" href="{% static 'icon/favicon.png' %}">
        {% block head %}{% endblock %}
    <body>
        <nav class="navbar white-leaf-nav">
            <div class="navbar-brand">WHITE LEAF</div>
        </nav>
        <div class="container">
            <div class="row fix-gutters">
                <div class="col-sm-8 col-lg-8">
                    <div class="white-leaf-content border border-Secondary rounded">
                        {% block contents %}{% endblock %}
                    </div>
                </div>
                <div class="col-sm-4 col-lg-4">
                    <div class="white-leaf-sidebar border border-Secondary rounded">
                        {% block sidebar %}{% endblock %}
                    </div>
                </div>
              </div>
        </div>
    </body>
</html>
<script src="https://kit.fontawesome.com/612c0879b3.js" crossorigin="anonymous"></script>